.navbar-collapse {
    margin-left: 10%;
}

.login {
    background-image: url("images/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a4daf2;
}

.login .card {
    margin-top: 1.5%;
    margin-left: 22%;
    border-radius: 0px;
    padding: 2%;
}

.login .card .card-body {
    display: flex;
}

form {
    padding-left: 15%;
    padding-top: 0%;
}

.form-group {
    padding: 3%;
}

.form-control {
    border-radius: 0px;
}

.forgot_and_cookies {
    padding-top: 3%;
    padding-left: 10%;
}

.forgot {
    color: #1177d1;
}

.cookies {
    padding-top: 5%;
}
#loginbtn {
    background-color: #000;
    color: white;
    width: 100%;
    border-radius: 0px;
}

.login_footer {
    position: sticky;
    display: flex;
    margin-top: 2%;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-left: 65%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.uni_name {
    font-size: x-large;
}

.login_socialmedia {
    align-items: center;
}

.login_socialmedia i {
    padding-right: 2%;
    border-radius: 5px;
    font-size: 25px;
    color: #5bc0de;
}

.nav {
    background-color: whitesmoke;
}

.nav a {
    color: grey;
}

.blueform img {
    position: sticky;
}
.student_dashboard{
    position:relative;
}
.student_dashboard {
    background-color: #a4daf2;
    background-repeat: no-repeat;
    background-size: cover;
}
.student_dashboard .container .row{
    background-color: white;    
}
.student_dashboard .container .row .col{
    padding: 5%;   
}

.student_dashboard .card{
    margin-left: 20%;
}
.student_dashboard .navbar .nav .nav-item .nav-link{
    color: #092545;
}
.student_dashboard .navbar .nav .nav-item .dropdown-menu .dropdown-item {
    color:#092545;
}
.dropdown-toggle{
    background-color: whitesmoke;
    color: #092545;
    border-color: whitesmoke;
}
.dropdown-toggle:hover{
    background-color: whitesmoke;
    color: #092545;
    border-color: whitesmoke;
}
.dashboard_cards_case{
    background-color: white;
    padding: 2%;
    box-shadow: 2px 2px 8px 2px #092545;
}
.dashboard_cards{
    display: flex;  
    padding-top: 2%;  
   padding-bottom: 2%;
}
.dashboard_cards .card{
    margin: 0%;
    margin-left: 2%;
    border: 2px solid #092545;
}
.card-img-top{
    padding: 0%;
}
.card-body button:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    border: white;
}
.card-body button{
    text-decoration: none;
    color: white;
    background-color: black;
    border: white;
}
.column{
    display: flex;
}
.modal_form{
    padding-left: 0%;
}
.add{
    padding: 1%;
}